.Slider {
    overflow: hidden;
    margin: auto;
    width: 100%;
    height: 45vh;
}

a:hover .Image{
    filter:blur(1px);
    -webkit-filter:blur(1px);
    -webkit-filter: blur(1px);
}

.Title{
    position: absolute;
    width: 100%;
    height: 45vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.301);
    font-size: 1.5rem;
    letter-spacing: 2px;
    z-index: 50;
    text-shadow: 1px 1px 1px black;
    transition: background-color 2s ease;
}

.Title:hover{
    background-color: rgba(0, 0, 0, 0.507);
}

.Image {
    z-index: 50;
    width: 100%;
    height: 45vh;
    -o-object-fit: cover;
    object-fit: cover;
    transition: filter 0.2s ease-in;
    -webkit-transition: filter 0.2s ease-in;
    -moz-transition: filter 0.2s ease-in;
    -ms-transition: filter 0.2s ease-in;
    -o-transition: filter 0.2s ease-in;
}

.Selector {
    height: 30px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding-bottom: 10px;
    position: absolute;
    z-index: 200;
    -webkit-transform: translateY(-150%);
    transform: translateY(-150%);
}

.PrevBtn {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   -webkit-box-pack: end;
       -ms-flex-pack: end;
           justify-content: flex-end;
   font-size: 3rem;
   cursor: pointer;
   top: 25%;
   padding-left: 10px;
}

.nextBtn {
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 3rem;
    cursor: pointer;
    padding-right: 10px;
}

.PrevBtn, .nextBtn {
    z-index: 200;
    position: absolute;
    top: 25%;
    color: white;
}

@media (min-width: 500px) and (max-width: 800px){

    .Slider, .Title, .Image, .ControlsContainer{
        height: 53vh;
    }

    .Title{
        font-size: 1.8rem;
    }

    .ControlsContainer{
        grid-template-columns: 6% 1fr 6%;
    }

    .PrevBtn, .nextBtn{
        top: 30%;
    }

    .nextBtn{
        right: 0%;
    }
}

@media (min-width: 801px){

    .Slider, .Title, .Image, .ControlsContainer{
        height: 60vh;
    }

    .ControlsContainer{
        grid-template-columns: 6% 1fr 6%;
    }

    .PrevBtn, .nextBtn{
        top: 30%;
    }

    .nextBtn{
        right: 0%;
    }

}