.NavigationItemRow {
    display: flex;
    width: auto;
    align-items: center;
}

.NavigationItemRow a {
    color: white;
    font-weight: 500;
    font-size: 1.1rem;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 14px 10px;
    transition: background-color 0.2s ease;
    transition: color 0.2s ease;
}

.NavigationItemRow a:hover{
    background-color: #cccccc85;
    color: black;
}

.NavigationItemRow a:active,
.NavigationItemRow a.active {
    background-color: #cccccc85;
    color: black;
}

.NavigationItemColumn {
    border-bottom: 4px solid transparent;
    margin: auto;
    box-sizing: border-box;
    display: block;
    height: auto;
    width: 100%;
}

.NavigationItemColumn a {
    border-bottom: 4px solid transparent;
    color: white;
    text-decoration: none;
    margin: auto;
    display: block;
    padding: 10px 0px;
}

.NavigationItemColumn a:hover {
    border-bottom: 4px solid white;
}

.NavigationItemColumn a:active,
.NavigationItemColumn a.active {
    color: #db7500;
    border-bottom: 4px solid #db7500;
}


