.DrawerToggle {
    width: 10px;
    height: 100%;
    display: flex;
    flex: 1;
    align-items: center;
}

.DrawerToggleImage{
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    content: "";
    color: white;
    padding-left: 15px;
    cursor: pointer;
}

