.Toolbar {
    display: flex;
    height: 8vh;
    width: 100%;
    background-color: #db7500;
    justify-content: space-between;
    align-items: center;
    z-index: 90;
}

.DesktopOnly {
    display: none;
}

@media (min-width: 733px) {
    .DesktopOnly {
        display: flex;
        flex: 2;
        justify-content: space-around;
    }
}