.SideDrawer {
    position: fixed;
    width: 280px;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 300;
    background-color: rgb(43, 43, 43);
    padding: 20px;
    transition: transform 0.5s ease-out;
}

.NavCol{
    width: 100%;
    margin-top: 20px;
}

.Open {
    transform: translateX(0);
}

.Close {
    transform: translateX(-100%);
}
