.Button {
    background-position: center;
    width: 120px;
    height: 50px;
    outline: none;
    border-radius: 5px;
    color: black;
    background-color: #2993f7;
    border: 2px solid transparent;
    transition: background 0.8s ease;
    cursor: pointer;
    font-size: 1rem;
}

.Button:hover {
    border: 2px solid #1212a0;
    background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
    outline: none;
}

.Button:active {
    background-color: #6eb9f7;
    background-size: 100%;
    transition: background 0s ease;
}

.Button:disabled {
    outline: none;
   background-color: #db7500;
   cursor: not-allowed; 
}

.Success {
    background-color: #07a107;
    color: black;
}

.Danger {
    background-color: #c40000;
    color: white;
}

.Button.Success:hover {
    background: #20e406 radial-gradient(circle, transparent 1%, #54ff05 1%) center/15000%;
    border: 2px solid #025302;
}

.Button.Success:active {
    background-color: #00d41c;
    background-size: 100%;
    transition: background 0s;
}

.Button.Danger:hover {
    background: #ff3434 radial-gradient(circle, transparent 1%, #be3600 1%) center/15000%;
    border: 2px solid #6e0000;  
}

.Button.Danger:active {
    background-color: #ca0000;
    background-size: 100%;
    transition: background 0s;
}