.SearchBarContainer{
    display: flex;
    flex: 1;
    justify-content: flex-end;
    padding-right: 15px;
}

.SearchBar {
    width: 100px;
    height: 4vh;
    border: 2px solid black;
    border-radius: 10px;
    text-indent: 1em;
    outline: none;
    transition: width 0.2s linear;
}

.SearchBar:focus {
    width: 150px;
}

