.Flight {
    display: flex;
    width: 90%;
    height: 180px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    text-decoration: none;
    background-color: white;
}

.FlightHead {
    box-sizing: border-box;
    width: 70%;
    height: 30px;
    color: black;
}

.FlightHead p {
    word-wrap: break-word;
    text-align: justify;
    height: auto;
    margin: 16px 10px;
    box-sizing: border-box;
}

.Flight img {
    width: 30%;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid #66ccf5;
}

