.Window {
    height: 100%;
    width: 100%;
    background-color: rgb(43, 43, 43);
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 2px black;
}

@media (min-width: 500px) {
    .Window {
        height: auto;
        width: 400px;
        margin: 50px auto;
        border-radius: 8px;
    }
}