.UserOptions {
    background-color: black;
    transition-duration: 0.3s;
    width: 100%;
}

.UserOptions nav {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Container {
    display: block;
    width: 40%;
}
